<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref = "/tasks/task-list"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{task.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card fullscreen>
        <ion-card-header>
          <ion-card-title>{{task.title}}</ion-card-title>
          <ion-card-subtitle>{{task.date | date}}</ion-card-subtitle>
        </ion-card-header>
        <hr>
        <ion-card-content>
          {{task.details}}
        </ion-card-content>
      </ion-card>
      
</ion-content>
